.edit-container {
    display: flex;
    flex-direction: column;
  }
  
  .edit-container > * {
    width: 100%;
  }

  .edit-card {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .mat-card-header {
    background-color:#f2f2f2 !important;
    padding: 10px !important;
}

.edit-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.edit-full-width {
  width: 100%;
}

.edit-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}